.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid gray;
    border-radius: 1em;
    padding: 2em;
}
img {
    cursor: pointer;
    width: 11px;
    height: 11px;
}

td > span {
    display: inline-block;
    margin-right: 5px;
}

.custom-extension-button {
    background: #b3b2b5;
    border: black;
    border-radius: 2em;
}

th {
    text-align: right;
    vertical-align: top;
    min-width: 200px;
    padding-bottom: 10px;
}

#custom-extension{
    padding-top: 10px;
    border-radius: 0.5em;
}